<template>
    <div v-if="leader['flag'] == true">
        <div class="container">
            <h3 class="text-start py-4 fw-bold" style='color: gray;'>{{ leader['name'] }}</h3>
            <div class="row">

                <div class="col py-5">
                    <div class="d-flex justify-content-end">
                        <div class="btn-group mx-3">
                            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{ selectedYear }}
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="year in yearOptions"><button class="dropdown-item" type="button"
                                        @click="selectedYear = String(year)">{{ year }}</button>
                                </li>

                            </ul>
                        </div>

                        <div class="btn-group mx-3">
                            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{ selectedSemester }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button"
                                        @click="selectedSemester = 'Spring'">Spring</button>
                                </li>
                                <li><button class="dropdown-item" type="button"
                                        @click="selectedSemester = 'Autumn'">Autumn</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="background-color: orange;" class="text-white">Tutor</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="x in list">
                                <td scope="row">{{ x.userName }}</td>
                                <td>{{ x.classCode }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                    <a class="page-link" href="#" @click="goToPage(currentPage - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" v-for="page in totalPages" :key="page"
                                    :class="{ active: currentPage === page }">
                                    <a class="page-link" href="#" @click="goToPage(page)">{{ page }}</a>
                                </li>
                                <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                    <a class="page-link" href="#" @click="goToPage(currentPage + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="container ps-5 ms-5 bigsho" style="padding-top:20rem">
            <img src="../../Components/logo.png" alt="bg">
            <h1 class="py-5 text-danger">You are not a the <b class="text-dark">Module coordinator </b> for any modules !</h1>
        </div>
    </div>
</template>
<style scoped>
.container{
    overflow: hidden;
}
.bigsho>img {
    position: absolute;
    top: 15rem;
    right: 22rem;
    height: 20rem;
    width: auto;
    opacity: 0.1;
}
</style>

<script setup>

import { ref, computed, onMounted, watch } from 'vue';
import { useForm } from '@inertiajs/vue3';
import Chart from 'chart.js/auto';

const props = defineProps({
    user: Object,
    teaching: Array,
    cls: Array,
    mod: Array
})

const selectedYear = ref(String(new Date().getFullYear()));
const selectedSemester = ref('Spring');

const totalPages = ref(1);
const itemsPerPage = 10;
const currentPage = ref(1);

function goToPage(page) {
    if (page >= 1 && page <= totalPages.value) {
        currentPage.value = page;
    }
}

const mod = ref('')

const leader = computed(() => {
    console.log(props.user.id)
    const x = props.mod.find((y) => y.module_coordinator_id == props.user.id);
    let isLeader = false
    let courseName = ''
    if (x) {
        isLeader = true;
        mod.value = x.module_code;
        courseName = `${x.module_code}: ${x.module_name}`;
    }

    return { 'flag': isLeader, 'name': courseName }

})

const list = computed(() => {
    const filteredTeaching = props.teaching.filter((rec) => {
        const m = String(rec.module_code);
        const semester = String(rec.semester);
        const year = String(rec.year);

        return (
            m == mod.value &&
            semester === selectedSemester.value &&
            year === selectedYear.value
        );
    });

    totalPages.value = Math.ceil(filteredTeaching.length / itemsPerPage);
    const start = (currentPage.value - 1) * itemsPerPage;
    const end = start + itemsPerPage;

    return filteredTeaching.slice(start, end);
});

const yearOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const startYear = 2017;
    const years = [];

    for (let year = currentYear; year >= startYear; year--) {
        years.push(year);
    }

    return years;
});


</script>