<!-- PasswordChangeForm.vue -->

<template>
  <div class="container">
    <h3 class="text-start py-4 fw-bold" style='color: gray;'>Setting</h3>
    <div class="container rounded d-flex align-item-center justify-content-center" style="background: rgba(242, 242, 242, 1); height: 90vh;">
      <form @submit.prevent="attemptPasswordChange" class="password-change-form my-5">
        <div class="input-group my-3 text-center">
          <input type="password" class="custom-input mx-auto rounded" style="width: 50vh; height: 5vh;" placeholder="Old Password" v-model="oldPassword" required>
        </div>
        
        <div class="input-group my-3">
          <input type="password" class="custom-input mx-auto rounded" style="width: 50vh; height: 5vh;" placeholder="New Password" v-model="newPassword" required>
        </div>
        
        <div class="input-group my-3">
          <input type="password" class="custom-input mx-auto rounded" style="width: 50vh; height: 5vh;" placeholder="Confirm Password" v-model="confirmPassword" required>
        </div>
        
        <button type="button" class="btn-success btn mt-5" @click="confirmPasswordChange" style="width: 40vh;">Change Password</button>
      </form>
      <!-- Confirmation dialog -->
      <div v-if="showConfirmationDialog" class="confirmation-dialog">
        <h4 class="fw-bold my-5" style="padding-top:2rem">Are you sure?</h4>
        <div class="button-container d-flex justify-content-around mt-5" style="padding-top:5rem">
          <button class="btn btn-success" @click="confirmChange" style="width: 12rem;">Confirm</button>
          <button class="btn btn-danger" @click="cancelChange" style="width: 12rem;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      oldPassword: '',
      newPassword: '',
      confirmPassword: '',
      showConfirmationDialog: false,
    };
  },
  methods: {
    changePassword() {
      // Your password change logic
      if (this.newPassword === this.confirmPassword) {
        console.log('Password change successful');
        // You can make an API call or perform other actions here
      } else {
        console.error('New password and confirm password do not match');
        // You may want to show an error message to the user
      }
    },
    attemptPasswordChange() {
      // Perform password change logic here
      this.showConfirmationDialog = true; // Show the confirmation dialog
    },
    confirmPasswordChange() {
      this.showConfirmationDialog = true; // Show the confirmation dialog
    },
    confirmChange() {
      // This is where you would perform the actual password change logic
      // For now, let's just log a message
      console.log('Password change confirmed');
      this.showConfirmationDialog = false; // Hide the confirmation dialog
    },
    cancelChange() {
      console.log('Password change canceled');
      this.showConfirmationDialog = false; // Hide the confirmation dialog
    }
  }
};
</script>

<style scoped>
.confirmation-dialog {
  position: fixed;
  top: 45%;
  left: 62.5%;
  
  width: 55vh !important;
  height: 35vh !important;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(28, 27, 27, 0.1);
  text-align: center;
  z-index: 1000; /* Set a high z-index to ensure it overlays other elements */
}
</style>
