<template>
  <div class="container">
    <h3 class="text-start py-4 fw-bold" style='color: gray;'>Preference</h3>
    <div class="row">
      <div class="col py-5">
        <div class="col py-5" >
          <div class="d-flex justify-content-end">                    
            <div class="btn-group mx-3">
              <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedYear }}
              </button>
              <ul class="dropdown-menu">
                <li v-for="year in yearOptions">
                  <button class="dropdown-item" type="button"  @click="selectedYear = year">{{ year }}</button>
                </li>
              </ul>
            </div>
                        
            <div class="btn-group mx-3">
              <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedSemester }}
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" type="button" @click="selectedSemester = 'Spring'">Spring</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button" @click="selectedSemester = 'Autumn'">Autumn</button>
                </li>       
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div v-if="stat && new Date(getCurrentDate()) <= new Date(stat.date) && preferenceList.length == 0">
        <div class="modal-body">
          <div class="container">
            <div class="modal-lg justify-content-center" style="background-color:rgb(216, 211, 211);border-radius:10px;">
              <b>Set up to 5 Preferences</b>
              <!-- Preferences Section -->
              <div v-for="(preference, index) in preferences" :key="index" class="my-4 rounded bg-white" style="border: 1px solid black; width: auto;">
                <h3 class="text-start fw-bold">Preference {{ index + 1 }}</h3>
                <div class="my-3">
                  <div class="dropdown-toggle rounded mx-5 justify-content-start algin-item-start d-flex" data-bs-toggle="dropdown" aria-expanded="false" >    
                    {{ form1.prefrence[index] ? form1.prefrence[index] : 'Please select your preferred module' }}
                  </div>
                  <ul class="dropdown-menu">
                    <li v-for="moduleCode in uniqueModuleData" :key="moduleCode">
                      <button class="dropdown-item" type="button" @click="form1.prefrence [index]= moduleCode.module_code">{{ moduleCode.module_code }}: {{ moduleCode.module_name }}</button>
                    </li>
                  </ul>
                </div>
            </div>
              <!-- Button to add a new preference -->
              <div class="col-md-12 d-flex justify-content-center">
                <div class="my-4">
                  <button @click="addPreference" class="btn btn-secondary mx-5" style="width: 40vh;" v-if="preferences.length < 5"> + Add Another Preference</button>
                  <button @click="openConfirmationModal" class="btn btn-success mx-5" style="width: 40vh;" v-if="true" @click.prevent ="form1.classModule = processedPreferences, showConfirmation =true" >Submit</button>
                </div>
            </div>
            <div v-if="showConfirmation" class="confirmation-dialog">
              <form @submit.prevent ="form1.post('/prefrence')">
                <h4 class="fw-bold my-5" style="padding-top:2rem">Are you sure?</h4>
                <h4 class="fw-bold my-5">This cannot be changed later</h4>
                <div class="button-container d-flex justify-content-around mt-5" style="padding-top:1rem">
                  <button class="btn btn-success" type="submit" style="width: 12rem;">Confirm</button>
                  <button class="btn btn-danger" type="reset" @click.prevent="showConfirmation =false" style="width: 12rem;">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
        <div class="modal-body">
          <div class="container">
            <div class="row modal-lg justify-content-center" style="background-color:rgb(216, 211, 211);border-radius:10px;">
              <!-- Preferences Section -->
              <div v-for="(x, index) in preferenceList" :key="index" class="my-4 rounded bg-white" style="border: 1px solid black;">
                <h3 class="text-start fw-bold">Preference {{ index + 1 }}</h3>
                <div class="my-3">
                  <div class="rounded mx-5 justify-content-start algin-item-start d-flex" aria-expanded="false">    
                    {{ x.module_code }}
                  </div>
                </div>                   
              </div>
              <div v-if="preferenceList.length == 0">
                <h1>
                  You haven't set any prefrences for the {{ selectedSemester }} in the year {{ selectedYear }}
                </h1>
              </div>
              
              <!-- Button to add a new preference -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';
import { ref, computed, watchEffect } from 'vue';

const props = defineProps({

user:Object,
stat: Array,
prefrence:Array,
mod:Array,
teaching:Array,

})

const selectedYear = ref(String(new Date().getFullYear()));
const selectedSemester = ref('Spring');

const preferences = ref([{}]); // Array to store preferences
const showConfirmation = ref(false);

const preferenceList = computed(() => {
  return props.prefrence.filter((y) => {
    const c = y.user_id;
    const semester = String(y.semester); 
    const year = String(y.year);
    return c=== props.user.id && semester === String(selectedSemester.value) && year === String(selectedYear.value);
  });
});

const form1 = useForm({
    user_id:props.user.id,
    user_name:props.user.name,
    sem:selectedSemester.value,
    year:selectedYear.value,
    prefrence: [],
    classModule: ([])
})

const getCurrentDate = () => {
  const today = new Date();
  const year = today.getFullYear();
  const month = (today.getMonth() + 1).toString().padStart(2, '0');
  const day = today.getDate().toString().padStart(2, '0');

  return `${year}-${month}-${day}`;
};

const yearOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const startYear = 2017;
    const years = [];

    for (let year = currentYear; year >= startYear; year--) {
        years.push(year);
    }

    return years;
});

const stat = props.stat.find((s) => s.semester === selectedSemester.value && s.year === selectedYear.value);
const uniqueModuleData = computed(() => {
  const x = props.stat.find((s) => s.semester === selectedSemester.value && s.year === selectedYear.value);
  const classModulesObject = JSON.parse(x.modules);

  const uniqueModuleSet = new Set();

  // Iterate over the keys (class IDs) of the classModulesObject
  Object.keys(classModulesObject).forEach((classId) => {
    const classModule = classModulesObject[classId];

    // Iterate over the keys (module codes) of each class module
    Object.keys(classModule).forEach((moduleCode) => {
      // Check if the module code is not an empty string and add to the set
      if (moduleCode !== '') {
        uniqueModuleSet.add(moduleCode);
      }
    });
  });

  // Convert Set to array and map to an array of objects with module code and name
  return Array.from(uniqueModuleSet).map((moduleCode) => {
    const moduleData = props.mod.find((module) => module.module_code === moduleCode);
    const moduleName = moduleData ? moduleData.module_name : 'Unknown Module';

    return {
      module_code: moduleCode,
      module_name: moduleName,
    };
  });
});

const processedPreferences = computed(() => {
  // Filter preferences based on selected year and semester
  const filteredPreferences = props.prefrence.filter(pref => {
    return (
      pref.year === selectedYear.value &&
      pref.semester === selectedSemester.value
    );
  });

  // Add form1 preferences to the filtered data with appropriate rank
  form1.prefrence.forEach((pref, index) => {
    const abc = props.teaching.filter((x) => {
        const user = String(x.user_id).toLowerCase();
        const module = String(x.module_code).toLowerCase();

        return user === props.user.id && module === pref;
    });
    filteredPreferences.push({
      user_id: props.user.id,
      user_name: props.user.id,
      year: form1.year,
      semester: form1.sem,
      rank: index + 1,
      module_code: pref,
      total:abc.length
    });
  });

  // Organize preferences into an object with unique module codes as keys
  const organizedPreferences = {};
  
  filteredPreferences.forEach(pref => {
    if (!organizedPreferences[pref.module_code]) {
      organizedPreferences[pref.module_code] = [];
    } else {
      organizedPreferences[pref.module_code].push(pref);
    }
  });

  // Sort each array in the object based on rank
  for (const key in organizedPreferences) {
  organizedPreferences[key].sort((a, b) => {

    const rankComparison = a.total - b.total;
    if (rankComparison === 0) {
      return a.rank - b.rank;
    }
    return rankComparison;
  });
}
  const classModulesObject = JSON.parse(stat.modules);

  const uniqueModuleSet = new Set();

  // Iterate over the keys (class IDs) of the classModulesObject
  Object.keys(classModulesObject).forEach((classId) => {
    const classModule = classModulesObject[classId];

    // Iterate over the keys (module codes) of each class module
    Object.keys(classModule).forEach((moduleCode) => {
      if (uniqueModuleSet.has(moduleCode)) { 
        if (organizedPreferences[moduleCode] && organizedPreferences[moduleCode].length > 0) {
          classModulesObject[classId][moduleCode] = organizedPreferences[moduleCode][0].user_id;
          organizedPreferences[moduleCode].shift();
        }
      } else {
        uniqueModuleSet.add(moduleCode);
      }
    });
  });
  form1.classModule = classModulesObject;
  console.log(form1.classModule)
  return classModulesObject;
});


const addPreference = () => {
  if (preferences.value.length < 5) {
    preferences.value.push({});
  }
};


</script>

<style scoped>

.confirmation-dialog {
  position: fixed;
  top: 45%;
  left: 62.5%;
  
  width: 55vh !important;
  height: 35vh !important;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(28, 27, 27, 0.1);
  text-align: center;
  z-index: 1000; /* Set a high z-index to ensure it overlays other elements */
}

  
</style>
