<template>
    <div class="container">
        <h3 class="text-start py-4 fw-bold" style='color: gray;'>Allocationss</h3>
        <div class="col d-flex justify-content-between">
            
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form @submit.prevent="askPreference()" >
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Ask for Preferences</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        
                                            <div class="form-outline mb-4 text-start">
                                                <input type="text" id="form2Example1" placeholder="Year"
                                                    class="form-control my-4 dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false" v-model="form1.year" readonly />
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <button class="dropdown-item" type="button"  @click.prevent="form1.year=new Date().getFullYear()">{{ new Date().getFullYear() }}</button>
                                                        </li>
                                                        <li>
                                                            <button class="dropdown-item" type="button"  @click.prevent="form1.year=new Date().getFullYear()+1">{{ new Date().getFullYear() + 1 }}</button>
                                                        </li>
                                                                                    
                                                    </ul>
                                                
                                                <input type="text" id="form2Example1" placeholder="Semester"
                                                    class="form-control my-4 dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false" v-model="form1.semester" readonly />
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <button class="dropdown-item" type="button" @click.prevent="form1.semester='Spring'">Spring</button>
                                                        </li>
                                                        <li>
                                                            <button class="dropdown-item" type="button" @click.prevent="form1.semester='Autumn'">Autumn</button>
                                                        </li>

                                                    </ul>
                                                    <input id="form2Example1" type="date" placeholder="Deadline" class="form-control my-4" aria-expanded="false" v-model="form1.date" :min="getMinDate()" />

                                            </div>
                                        
                                    </div>
                                    <!-- button for confirming and cancelling -->
                                    <div class="d-flex justify-content-around py-4">
                                        <button class="btn btn-success col-4" data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal" data-bs-dismiss="modal" type="submit">Confirm</button>
                                        <button type="reset" class="btn btn-danger col-4" data-bs-dismiss="modal"
                                            aria-label="Close">Cancel</button>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
                <div class="modal fade" id="confirmation" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" v-show="showModalConfirmation">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                </button>
                            </div>
                            <form @submit="form1.post('/statusUpdate')">
                                <div class="modal-body">
                                    <h4>Are you sure you want to ask users to submit Preferences for the {{ form1.semester }} Semester for the Year {{ form1.year }}?</h4>
                                    <h4><Bold>This cannot be changed later</Bold></h4>
                                </div>
                                <div class="d-flex justify-content-around py-4">
                                    <button class="btn btn-success col-4" type="submit">Confirm</button>
                                    <button class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" type="reset">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <a class="btn btn-success w-50" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Ask for Preferences</a>

                <div class="modal fade" id="confirmation1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" v-show="showModalConfirmation1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                </button>
                            </div>
                            <form @submit="form4.post('/allocate')">
                                <div class="modal-body">
                                    <h4>Are you sure you want confirm allocations for the {{ form4.semester }} Semester for the Year {{ form4.year }}?</h4>
                                </div>
                                <div class="d-flex justify-content-around py-4">
                                    <button class="btn btn-success col-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" type="submit">Confirm</button>
                                    <button class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" type="reset">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="error" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" v-show="err">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel">Error</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                                </button>
                            </div>
                                <div class="modal-body">
                                    <h1>{{ error }}</h1>
                                </div>
                                <div class="d-flex justify-content-around py-4">
                                    <button class="btn btn-success col-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Confirm</button>
                                    <button class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                </div>
                        </div>
                    </div>
                </div>
                
            <button class="btn  col-lg-5 col-md-5 col-sm-12 text-white fw-bold" style="background-color: orange; height: 3rem;" type="button" @click.prevent="form4.empty=modules['empty'],form4.filled=modules['filled'], share() " v-show="showShare">Share ALlocations</button>
        </div>

            <div class="col py-5" >
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="search">

                    <div class="btn-group mx-3">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ selectedYear }}
                        </button>
                        <ul class="dropdown-menu">
                            <li v-for="year in yearOptions"><button class="dropdown-item" type="button"  @click="selectedYear = String(year)">{{ year }}</button>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group mx-3">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ selectedSemester }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button" @click="selectedSemester = 'Spring'">Spring</button>
                            </li>
                            <li><button class="dropdown-item" type="button" @click="selectedSemester = 'Autumn'">Autumn</button>
                            </li>
                        </ul>
                    </div>

                </form>
            </div>


            <!-- table for allocations -->
            
            <div v-if="modules['stat'] && modules['stat'].state == 1 && new Date(getCurrentDate())<=new Date(modules['stat'].date)">
                    <h5 class="text-start fw-bold" style="color: gray;"> Tutor Allocations</h5>
                    <table class="table">
                        <thead>
                            <tr >
                                <th scope="col" style="background-color: orange;" class="text-white">Tutor</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Module</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(r, index) in modules['with']" :key="index">
                                <td scope="row">{{ r.username }}</td>
                                <td>{{ r.module }}</td>
                                <td>{{ r.class_code }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                            <li class="page-item" :class="{ disabled: currentPageW === 1 }">
                                <a class="page-link" href="#" @click="goToPageW(currentPageW - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" v-for="page in totalPagesW" :key="page" :class="{ active: currentPageW === page }">
                                <a class="page-link" href="#" @click="goToPageW(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="{ disabled: currentPageW === totalPagesW }">
                                <a class="page-link" href="#" @click="goToPageW(currentPageW + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            </ul>
                        </nav>
                        </div>
            <!-- table for module not assigned -->
            
                <div class="py-4">
                    <h5 class="text-start fw-bold" style="color: gray;">Unallocated Modules</h5>
                    <table class="table">
                        <thead>
                            <tr >
                                <th scope="col" style="background-color: orange;" class="text-white">Module</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr v-for="(r, index) in modules['without']" :key="index">
                                    <td>{{ r.module }}</td>
                                    <td>{{ r.class_code }}</td>
                                </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                            <li class="page-item" :class="{ disabled: currentPageWO === 1 }">
                                <a class="page-link" href="#" @click="goToPageWO(currentPageWO - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" v-for="page in totalPagesWO" :key="page" :class="{ active: currentPageWO === page }">
                                <a class="page-link" href="#" @click="goToPageWO(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="{ disabled: currentPageWO === totalPagesWO }">
                                <a class="page-link" href="#" @click="goToPageWO(currentPageWO + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            </ul>
                        </nav>
                        </div>
                </div>
            </div>

            <div v-if="modules['stat'] && modules['stat'].state == 1 && new Date(getCurrentDate())>new Date(modules['stat'].date)">
                    <h5 class="text-start fw-bold" style="color: gray;"> Tutor Allocations</h5>
                    <table class="table">
                        <thead>
                            <tr >
                                <th scope="col" style="background-color: orange;" class="text-white">Tutor</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Module</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                                <th scope="col" style="background-color: orange;" class="text-white"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(r, index) in modules['with']" :key="index">
                                <td scope="row">{{ r.username }}</td>
                                <td>{{ r.module }}</td>
                                <td>{{ r.class_code }}</td>
                                <td>
                                    <div class="d-flex justify-content-around">
                                        <!-- ------------------popup for edit icon-------------------------------------------- -->
                                        <div class="modal fade" id="exampleModalToggle3" aria-hidden="true"
                                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form @submit="form2.post('/editState')" >
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalToggleLabel">Reasign module</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h3>Who do you want to reasign the module {{ form2.moduleCode }} for class {{ form2.class }}</h3>
                                                            <div class="form-outline mb-4 text-start">
                                                                <input type="text" id="form2Example1" class="form-control my-4 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" v-model="form2.userName" readonly required/>
                                                                    <ul class="dropdown-menu">
                                                                        <li v-for="c in props.users">
                                                                            <button class="dropdown-item" type="button"  @click.prevent="form2.user_id = c.id, form2.userName = c.name">{{ c.name }}</button>
                                                                        </li>                              
                                                                    </ul>    
                                                            </div>
                                                        </div>
                                                        <!-- button for confirming and cancelling -->
                                                        <div class="d-flex justify-content-around py-4">
                                                            <button type="submit" class="btn btn-success col-4">Confirm</button>
                                                            <button type="reset" class="btn btn-danger col-4"
                                                                data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="" data-bs-toggle="modal" href="#exampleModalToggle3" role="button" @click="form2.class = r.class, form2.moduleCode =r.module, form2.userName  = r.username"><img
                                                src="../../Components/edit-icon.png" alt="edit icon"></a>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                            <li class="page-item" :class="{ disabled: currentPageW === 1 }">
                                <a class="page-link" href="#" @click="goToPageW(currentPageW - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" v-for="page in totalPagesW" :key="page" :class="{ active: currentPageW === page }">
                                <a class="page-link" href="#" @click="goToPageW(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="{ disabled: currentPageW === totalPagesW }">
                                <a class="page-link" href="#" @click="goToPageW(currentPageW + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            </ul>
                        </nav>
                        </div>
            <!-- table for module not assigned -->
            
                <div class="py-4">
                    <h5 class="text-start fw-bold" style="color: gray;">Unallocated Modules</h5>
                    <table class="table">
                        <thead>
                            <tr >
                                <th scope="col" style="background-color: orange;" class="text-white">Module</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                                <th scope="col" style="background-color: orange;" class="text-white"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(r, index) in modules['without']" :key="index">
                                    <td>{{ r.module }}</td>
                                    <td>{{ r.class_code }}</td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <div class="modal fade" id="exampleModalToggle4" aria-hidden="true"
                                                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <form @submit="form2.post('/editState')" >
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalToggleLabel">Reasign module</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h3>Who do you want to reasign the module {{ form2.moduleCode }} for class {{ form2.class }}</h3>
                                                                <div class="form-outline mb-4 text-start">
                                                                    <input type="text" id="form2Example1" class="form-control my-4 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" v-model="form2.userName" readonly required/>
                                                                        <ul class="dropdown-menu">
                                                                            <li v-for="c in props.users">
                                                                                <button class="dropdown-item" type="button"  @click.prevent="form2.user_id = c.id, form2.userName = c.name">{{ c.name }}</button>
                                                                            </li>                              
                                                                        </ul>    
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-around py-4">
                                                                <button type="submit" class="btn btn-success col-4">Confirm</button>
                                                                <button type="reset" class="btn btn-danger col-4"
                                                                    data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                                    data-bs-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="" data-bs-toggle="modal" href="#exampleModalToggle4" role="button">
                                                <img src="../../Components/edit-icon.png" alt="edit icon" @click="form2.class = r.class, form2.moduleCode =r.module"></a>

                                        </div>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                            <li class="page-item" :class="{ disabled: currentPageWO === 1 }">
                                <a class="page-link" href="#" @click="goToPageWO(currentPageWO - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" v-for="page in totalPagesWO" :key="page" :class="{ active: currentPageWO === page }">
                                <a class="page-link" href="#" @click="goToPageWO(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="{ disabled: currentPageWO === totalPagesWO }">
                                <a class="page-link" href="#" @click="goToPageWO(currentPageWO + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            </ul>
                        </nav>
                        </div>
                </div>
            </div>

            <div v-if="modules['stat'] && modules['stat'].state == 0">
                    <h5 class="text-start fw-bold" style="color: gray;"> Tutor Allocations</h5>
                    <table class="table">
                        <thead>
                            <tr >
                                <th scope="col" style="background-color: orange;" class="text-white">Tutor</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Module</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Class</th>
                                <th scope="col" style="background-color: orange;" class="text-white"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(r, index) in paginatedAllocations" :key="index">
                                <td scope="row">{{ r.userName }}</td>
                                <td>{{ r.module_code }}</td>
                                <td>{{ r.classCode }}</td>
                                <td>
                                    <div class="d-flex justify-content-around">
                                            <div class="modal fade" id="exampleModalToggle4" aria-hidden="true"
                                                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <form @submit="form3.post('/editAllocations')" >
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalToggleLabel">Reasign module</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h3>Who do you want to reasign the module {{ form3.moduleCode }} for class {{ form3.class }}</h3>
                                                                 {{ form3.id }}
                                                                <div class="form-outline mb-4 text-start">
                                                                    <input type="text" id="form2Example1" class="form-control my-4 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" v-model="form3.userName" required readonly/>
                                                                        <ul class="dropdown-menu">
                                                                            <li v-for="c in props.users">
                                                                                <button class="dropdown-item" type="button"  @click.prevent="form3.user_id = c.id, form3.userName = c.name">{{ c.name }}</button>
                                                                            </li>                              
                                                                        </ul>    
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-around py-4">
                                                                <button type="submit" class="btn btn-success col-4">Confirm</button>
                                                                <button type="reset" class="btn btn-danger col-4"
                                                                    data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                                    data-bs-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="" data-bs-toggle="modal" href="#exampleModalToggle4" role="button">
                                                <img src="../../Components/edit-icon.png" alt="edit icon" @click="form3.id = r.id, form3.class = r.classCode, form3.moduleCode =r.module_code, form3.userName = r.userName"></a>

                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                            <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                <a class="page-link" href="#" @click="goToPage(currentPage - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: currentPage === page }">
                                <a class="page-link" href="#" @click="goToPage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                <a class="page-link" href="#" @click="goToPage(currentPage + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            </ul>
                        </nav>
                        </div>
                        
            </div>
    </div>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';
import { ref, computed, watchEffect } from 'vue';

const props = defineProps({

teaching_record : Array,
classes: Array,
course:Array,
status:Array,
users:Array,
module:Array,

})

const search = ref('');
const itemsPerPageforA = 6; // Set the number of items per page
const currentPage = ref(1);

const itemsPerPageforW= 4; // Set the number of items per page
const currentPageW = ref(1);
const totalPagesW = ref(1)

const itemsPerPageforWO = 4; // Set the number of items per page
const currentPageWO = ref(1);
const totalPagesWO = ref(1)

const selectedYear = ref(String(new Date().getFullYear()));
const selectedSemester = ref('Spring');
const showModalConfirmation = ref(false);
const showModalConfirmation1 = ref(false);
const showShare = ref(true);

const form1 = useForm({
    date:'',
    year:'',
    semester:'',
    classModule: ({})
})

const form2 = useForm({
    user_id:'',
    userName: '',
    moduleCode:'',
    class:'',
    sem:selectedSemester.value,
    year:selectedYear.value,
})
const form3 = useForm({
    id:'',
    user_id:'',
    userName: '',
    moduleCode:'',
    class:'',
    sem:selectedSemester.value,
    year:selectedYear.value,
})

const form4 = useForm({
    filled:({}),
    empty:({}),
    sem:selectedSemester.value,
    year:selectedYear.value,
})

const filteredAllocations = computed(() => {
  const query = search.value.toLowerCase();

  return props.teaching_record.filter((clas) => {
    const userName = String(clas.userName).toLowerCase();
    const module_code = String(clas.module_code).toLowerCase();
    const classCode = String(clas.classCode).toLowerCase();
    const semester = String(clas.semester);
    const year = String(clas.year);

    return (userName.includes(query) || module_code.includes(query) || classCode.includes(query)) && year==selectedYear.value && semester == selectedSemester.value ;
  });
});

const getCurrentDate = () => {
  const today = new Date();
  const year = today.getFullYear();
  const month = (today.getMonth() + 1).toString().padStart(2, '0');
  const day = today.getDate().toString().padStart(2, '0');

  return `${year}-${month}-${day}`;
};

const getMinDate = () => {
    const currentDateTimestamp = new Date(getCurrentDate()).getTime();
      const minDateTimestamp = currentDateTimestamp + 10 * 24 * 60 * 60 * 1000;
      const minDate = new Date(minDateTimestamp);
      
      // Convert minDate to "YYYY-MM-DD" format
      const minDateString = minDate.toISOString().split('T')[0];
      
      return minDateString;
}

const askPreference = () => {
  const currentDate = new Date(getCurrentDate());
  const form1Date = new Date(form1.date);

  if (form1Date < new Date(currentDate.getTime() + 10 * 24 * 60 * 60 * 1000)) {
    console.log("At least 10 days time period must be given");
  } else {
    console.log("props.class:", typeof props.classes)
    // console.log("props.class:", props.class)
    props.classes.forEach((singleClass) => {
      const startYear = singleClass.start_year;
      const semesterOffset = (form1.year - startYear) * 2 + (form1.semester === 'Spring' ? 1 : 2);

      const course = props.course.find((c) => c.id === singleClass.course_id);

      if (course && course.semesters && course.semesters[semesterOffset]) {
        const modules = JSON.parse(course.semesters)[semesterOffset];

        modules.forEach((module) => {
            const x = props.module.find((y) => y.module_code === module);
            if (module != "") {
                form1.classModule[singleClass.id] = { ...form1.classModule[singleClass.id], [module]: x.module_coordinator_id };
                console.log('form1.classModule:', form1.classModule);
            }
        });
      }
    });
    // console.log("Working")
    console.log(form1.classModule)
    openConfirmationModal()
  }
};

const openConfirmationModal = () => {
  // Set the showModalConfirmation to true
  showModalConfirmation.value = true;
  const confirmationModal = new bootstrap.Modal(document.getElementById('confirmation'));
  confirmationModal.show();
};

const yearOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const startYear = 2017;
    const years = [];

    for (let year = currentYear; year >= startYear; year--) {
        years.push(year);
    }

    return years;
});

const paginatedAllocations = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPageforA;
  const end = start + itemsPerPageforA;
  return filteredAllocations.value.slice(start, end);
});

const modules = computed(() => {
    let stat = props.status.find((s) => s.semester === selectedSemester.value && s.year === selectedYear.value); // Initialize stat
    const modulesWithoutValue = []
    const modulesWithValue = []

    if (stat&&(stat.state === 0 || new Date(getCurrentDate()) <= new Date(stat.date))) {
            showShare.value = false;
        }

    watchEffect(() => {
        // Update stat whenever selectedSemester or selectedYear changes
        stat = props.status.find((s) => s.semester === selectedSemester.value && s.year === selectedYear.value);
        if (stat && (stat.state === 0 || new Date(getCurrentDate()) <= new Date(stat.date))) {
            showShare.value = false;
        }
    });
    if (stat) {
        for (const classId in JSON.parse(stat.modules)) {
            const classModule = JSON.parse(stat.modules)[classId];
            // Traverse through the modules for the current class
    
            for (const moduleCode in classModule) {
                
                const userId = classModule[moduleCode];

                const cls = props.classes.find((cls_id) => cls_id.id == classId);

                let year = String(parseInt(new Date().getFullYear()) - parseInt(cls.start_year) + 1)
                let course = cls.course_name
                let section = cls.section 
                let classCode = "Year " + year + " " + course + " " + section
                if (userId != null) {
                    const user = props.users.find((user) => user.id === userId);
                    const userName = user ? user.name : ''; // If user is found, get the name, otherwise use an empty string
                    const module = props.module.find((module) => module.module_code === moduleCode);
                    const weeklyhours = module.WeeklyClassHours;
                    modulesWithValue.push({ 'class': classId,'class_code':classCode, 'module':moduleCode, 'user_id':userId,'username':userName, 'classhours': weeklyhours});
                } else {
                    // If userId is empty, add to modulesWithoutValue
                    modulesWithoutValue.push({ 'class': classId,'class_code':classCode, 'module':moduleCode, });
                }
            }
        }
        
    }
        const query = search.value.toLowerCase();

        const modulesWithValueS = modulesWithValue.filter((clas) => {
            const userName = String(clas['username']).toLowerCase();
            const module_code = String(clas['module']).toLowerCase();
            const classCode = String(clas['class']).toLowerCase();

            return (userName.includes(query) || module_code.includes(query) || classCode.includes(query));
        });
        const modulesWithoutValueS = modulesWithoutValue.filter((clas) => {
            const userName = String(clas['username']).toLowerCase();
            const module_code = String(clas['module']).toLowerCase();
            const classCode = String(clas['class']).toLowerCase();

            return (userName.includes(query) || module_code.includes(query) || classCode.includes(query));
        });

        const start = (currentPageW.value - 1) * itemsPerPageforW
        const end = start + itemsPerPageforW
        const starta = (currentPageWO.value - 1) * itemsPerPageforWO
        const enda = start + itemsPerPageforWO
        const modulesWithValueSa = modulesWithValueS.slice(start, end)
        const modulesWithoutValueSa = modulesWithoutValueS.slice(starta, enda)
        totalPagesW.value = Math.ceil(modulesWithValueS.length / itemsPerPageforW);
        totalPagesWO.value = Math.ceil(modulesWithoutValueS.length / itemsPerPageforWO);
        
  
        return {'with':modulesWithValueSa,'without': modulesWithoutValueSa, 'stat': stat, 'filled':modulesWithValueS, 'empty':modulesWithoutValueS }
})
const totalPages = computed(() => Math.ceil(filteredAllocations.value.length / itemsPerPageforA));


function goToPageA(currentPageRef, totalPagesRef, page) {
  if (page >= 1 && page <= totalPagesRef.value) {
    currentPageRef.value = page;
  }
}

function goToPage(page) {
  goToPageA(currentPage, totalPages, page);
}

function goToPageW(page) {
  goToPageA(currentPageW, totalPagesW, page);
}

function goToPageWO(page) {
  goToPageA(currentPageWO, totalPagesWO, page);
}
const error = ref('');
const err = ref(false);

function share(){
    console.log(form4.empty.length)
    if(form4.empty.length != 0){
        error.value = "Please make sure that all modules for the "+selectedSemester.value+" semester "+selectedYear.value+" are assigned";
        err.value = true;
    }else {
        showModalConfirmation1.value=true
        const confirmationModal = new bootstrap.Modal(document.getElementById('confirmation1'));
        confirmationModal.show();
        console.log(form4.filled)
    }
}
</script>
