<template>
    <div class="container">
        <div class="row">
            <h3 class="text-start fw-bold head" style="color: gray;">Classes</h3>
            <div class="col py-5">
                <div class="d-flex" role="search">
                    <input class="form-control me-2 d-flex justify-content-center" style="width: 54rem;" type="search" placeholder="Search" aria-label="Search" v-model="search">
                
                    <!-- -------------------------------------START OF THE POPUP FOR ADDING NEW CLASSES----------------------------- -->

                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form @submit="form.post('/addclasses')">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold" id="exampleModalToggleLabel">Add New Classes</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-outline mb-4 text-start">
                                            <input type="text" id="form2Example1" placeholder="Course Name"
                                                class="form-control my-4 dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false" v-model="form.c_name" readonly required/>
                                                <ul class="dropdown-menu">
                                                    <li v-for="c in courses">
                                                        <button class="dropdown-item" type="button"  @click="form.c_name = c.course_name, form.c_id =c.id">{{ c.course_name }}</button>
                                                    </li>                              
                                                </ul>  

                                            <input type="number" id="form2Example1" placeholder="Start Year"
                                                class="form-control my-4 dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false" v-model="form.s_year" readonly required/>
                                                <ul class="dropdown-menu">
                                                    <li v-for="s in syearOptions">
                                                        <button class="dropdown-item" type="button"  @click="form.s_year = s,form.e_year = s+4 ">{{ s }}</button>
                                                    </li>
                                                </ul> 

                                            <input type="number" placeholder="End Year"
                                                class="form-control my-4 dropdown-toggle" v-model="form.e_year" readonly required/>
                                                

                                            <input type="number" id="form2Example1" placeholder="Strength" class="form-control my-4" v-model="form.strength" required/>

                                        </div>
                                    </div>
                                    <!-- button for confirming and cancelling -->
                                    <div class="d-flex justify-content-around py-4">
                                        <button class="btn btn-success col-4" type="submit">Confirm</button>
                                        <button class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal" data-bs-dismiss="modal" type="reset">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------end of the popup-------------- -->
                    <a class="btn btn-success w-50 cus-btn" data-bs-toggle="modal" href="#exampleModalToggle"
                        role="button">Add New
                        Class</a>
                    </div>

                


                <div class="py-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="background-color: orange;" class="text-white">Courses</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Start Year</th>
                                <th scope="col" style="background-color: orange;" class="text-white">End Year</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Strength</th>
                                <th scope="col" style="background-color: orange;" class="text-white">Section</th>
                                <th scope="col" style="background-color: orange;" class="text-white"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(c, index) in paginatedClasses" :key="index">
                                <td scope="row">{{ c.course_name }}</td>
                                <td>{{ c.start_year }}</td>
                                <td>{{ c.end_year }}</td>
                                <td>{{ c.strength }}</td>
                                <td>{{ c.section }}</td>
                                <td>
                                    <div class="d-flex justify-content-around">
                                        <!-- ------------------popup for edit icon-------------------------------------------- -->
                                        <div class="modal fade" id="exampleModalToggle3" aria-hidden="true"
                                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form @submit="form1.post('/editClassStrength')" >
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalToggleLabel">Edit Strength for the class: Year {{ String(parseInt(new Date().getFullYear()) - parseInt(c.start_year) + 1) }} {{ c.course_name }} {{ c.section }} </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-outline mb-4 text-start">
                                                                <input type="number" id="form2Example1" placeholder="Strength" class="form-control my-4" v-model="form1.strength" required/>
                                                                       
                                                            </div>
                                                        </div>
                                                        <!-- button for confirming and cancelling -->
                                                        <div class="d-flex justify-content-around py-4">
                                                            <button type="submit" class="btn btn-success col-4">Confirm</button>
                                                            <button type="reset" class="btn btn-danger col-4"
                                                                data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="" data-bs-toggle="modal" href="#exampleModalToggle3" role="button" @click="form1.class_id = c.id, form1.strength = c.strength" ><img
                                            src="../../Components/edit-icon.png" alt="edit icon"></a>

                                        <!-- ------------------popup for delete icon-------------------------------------------- -->
                                        <div class="modal fade" :id="`delete_${c.id}`" aria-hidden="true"
                                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalToggleLabel">Delete Class</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form @submit="confirmDelete(c.id)">
                                                        <div class="modal-body">
                                                            <h4>Are you sure you want to delete the class: Year {{ String(parseInt(new Date().getFullYear()) - parseInt(c.start_year) + 1) }} {{ c.course_name }} {{ c.section }}?</h4>
                                                        </div>
                                                        <!-- button for confirming and cancelling -->
                                                        <div class="d-flex justify-content-around py-4">
                                                            <button type="submit" class="btn btn-success col-4">Confirm</button>
                                                            <button type="reset" class="btn btn-danger col-4"
                                                                data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="" data-bs-toggle="modal" :href="`#delete_${c.id}`" role="button" ><img
                                                src="../../Components/delete.png" alt="delete icons"></a>
                                    </div>
                                </td>
                            
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                            <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                <a class="page-link" href="#" @click="goToPage(currentPage - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: currentPage === page }">
                                <a class="page-link" href="#" @click="goToPage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                <a class="page-link" href="#" @click="goToPage(currentPage + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            </ul>
                        </nav>
                    </div>
                </div>




            </div>

        </div>
    </div>
</template>

<style scoped>
.cus-btn:hover {
    font-weight: bold;
    background-color: green;
   
}


</style>

<script setup>

import { ref, computed } from 'vue';
import { useForm } from '@inertiajs/vue3';

const form = useForm({
    c_name: '',
    c_id: '',
    s_year: null,
    e_year: null,
    strength: '',
})

const form1 = useForm({
    class_id: '',
    strength: '',
})

const form2 = useForm([])

const search = ref('');
const itemsPerPage = 10; // Set the number of items per page
const currentPage = ref(1);

const props = defineProps({
    classes: Array,
    courses: Array,
})

const filteredclasses = computed(() => {
  const query = search.value.toLowerCase();

  return props.classes.filter((clas) => {
    const course_name = String(clas.course_name).toLowerCase();
    const start_year = String(clas.start_year).toLowerCase();
    const end_year = String(clas.end_year).toLowerCase();
    const strength = String(clas.strength).toLowerCase();
    const section = String(clas.section).toLowerCase();

    return course_name.includes(query) || start_year.includes(query) || end_year.includes(query) || strength.includes(query) || section.includes(query);
  });
});

const syearOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const startYear = 2017;
    const years = [];

    for (let year = currentYear+1; year >= startYear; year--) {
        years.push(year);
    }

    return years;
});


const confirmDelete = (class_id) => {
    
    form2.delete(`/deleteClass/${class_id}`)
        .then(() => {
            // If the deletion is successful, reload the page or update the user list.
            usePage().reload();
        })
        .catch((error) => {                
            // Handle any error that may occur during deletion
            console.error('Error deleting user', error);
        });
};

const paginatedClasses = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  const end = start + itemsPerPage;
  return filteredclasses.value.slice(start, end);
});

const totalPages = computed(() => Math.ceil(filteredclasses.value.length / itemsPerPage));

function goToPage(page) {
  if (page >= 1 && page <= totalPages.value) {
    currentPage.value = page;
  }
}

</script>