<template>
    <div class="container">
        <div class="row">

            <h3 class="text-start fw-bold" style="color: gray;">Modules</h3>
            <div class="col py-5">
                <div class="d-flex justify-content-start" role="search">
                    <input class="form-control me-2" style="width: 56rem;" type="search" placeholder="Search" aria-label="Search" v-model="search">
                    <form @submit.prevent="form.post('/addModule')">
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Add New Module</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div v-if="form.wasSuccessful">
                                                <div class="errorMessaage text-success d-flex justify-content-center py-2 fw-bold">
                                                    Module Successful Added
                                                </div>
                                            </div>
                                    <div class="modal-body">
                                        <div class="form-outline mb-4 text-start">
                                            <div v-if="form.errors.m_code">
                                                <div class="errorMessaage text-danger d-flex justify-content-center fw-bold">
                                                    {{ form.m_code }} has already been used for another Module
                                                </div>
                                            </div>
                                            <input type="text" id="form2Example1" placeholder="Module Code"
                                                class="form-control my-4" v-model="form.m_code" required />
                                            <div v-if="form.errors.m_name">
                                                <div class="errorMessaage text-danger d-flex justify-content-center fw-bold">
                                                    {{ form.errors.m_name }}
                                                </div>
                                            </div>
                                            <input type="text" id="form2Example1" placeholder="Module Name"
                                                class="form-control my-4" v-model="form.m_name" required />
                                            <div v-if="form.errors.u_id">
                                                <div class="errorMessaage text-danger d-flex justify-content-center  fw-bold">
                                                    {{ form.u_name }} is the module coordinator for another Module
                                                </div>
                                            </div>
                                                <input type="text" id="form2Example1" placeholder="Module Coordinator"
                                                class="form-control my-4 dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false" v-model="form.u_name" readonly required />
                                            <ul class="dropdown-menu">
                                                <li v-for="c in users">
                                                    <button class="dropdown-item" type="button"
                                                        @click="form.u_name = c.name, form.u_id = c.id">{{ c.name }}</button>
                                                </li>
                                            </ul>
                                            <input type="number" id="form2Example1" placeholder="Class Hour"
                                                class="form-control my-4" v-model="form.c_hrs" />

                                        </div>
                                    </div>
                                    <!-- button for confirming and cancelling -->
                                    <div class="d-flex justify-content-around py-4">
                                        <button type="submit" class="btn btn-success col-4" >Confirm</button>
                                        <button type="reset" class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- ---------end of popup------------- -->

                    <a class="btn btn-success" style="width:21rem;" data-bs-toggle="modal" href="#exampleModalToggle" role="button">+ Add
                        Module</a>
                </div>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="background-color: orange;" class="text-white">Code</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Name</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Coordinator</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Hour</th>
                            <th scope="col" style="background-color: orange;" class="text-white"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(m, index) in paginatedModules" :key="index">
                            <td scope="row">{{ m.module_code }}</td>
                            <!-- enter the email from the db -->
                            <td>{{ m.module_name }}</td>
                            <td>{{ m.coordinator_name }}</td>
                            <td>{{ m.WeeklyClassHours }}</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <!-- ------------------popup for edit icon-------------------------------------------- -->
                                    <form @submit.prevent="form1.post('/editModule')">
                                        <div class="modal fade" id="exampleModalToggle3" aria-hidden="true"
                                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalToggleLabel">Edit Module
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-outline mb-4 text-start">
                                                            <h5 class="my-2">Assign New Module Coordinator</h5>
                                                            <div v-if="form1.errors.u_id">
                                                                <div class="errorMessaage text-danger d-flex justify-content-center  fw-bold">
                                                                    {{ form1.u_name }} is the module coordinator for another Module
                                                                </div>
                                                            </div>
                                                            <input type="text" id="form2Example1"
                                                                placeholder="Module Coordinator"
                                                                class="form-control my-4 dropdown-toggle"
                                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                                v-model="form1.u_name" readonly required />
                                                            <ul class="dropdown-menu">
                                                                <li v-for="c in users">
                                                                    <button class="dropdown-item" type="button"
                                                                        @click="form1.u_name = c.name, form1.u_id = c.id">{{
                                                                            c.name }}</button>
                                                                </li>
                                                            </ul>
                                                            <input type="text" id="form2Example1" class="form-control my-4"
                                                                v-model="form1.c_hrs" required />

                                                        </div>
                                                    </div>
                                                    <!-- button for confirming and cancelling -->
                                                    <div class="d-flex justify-content-around py-4">
                                                        <button type="submit" class="btn btn-success col-4">Confirm</button>
                                                        <button type="reset" class="btn btn-danger col-4"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="" data-bs-toggle="modal" href="#exampleModalToggle3" role="button"
                                            @click="form1.id = m.module_code, form1.c_hrs = m.WeeklyClassHours, form1.u_name = m.coordinator_name, form1.u_id = m.module_coordinator_id"><img
                                                src="../../Components/edit-icon.png" alt="edit icon"></a>
                                    </form>

                                    <!-- ------------------popup for delete icon-------------------------------------------- -->
                                    <div class="modal fade" :id="`delete_${m.module_code}`" aria-hidden="true"
                                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalToggleLabel">Delete PRJ Group
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form @submit="confirmDelete(m.module_code)">
                                                    <div class="modal-body">
                                                        <h4>Are you sure you want to delete the project group {{
                                                            m.module_code }}?</h4>
                                                    </div>
                                                    <!-- button for confirming and cancelling -->
                                                    <div class="d-flex justify-content-around py-4">
                                                        <button type="submit" class="btn btn-success col-4"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Confirm</button>
                                                        <button type="reset" class="btn btn-danger col-4"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="" data-bs-toggle="modal" :href="`#delete_${m.module_code}`" role="button"><img
                                            src="../../Components/delete.png" alt="delete icons"></a>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                <a class="page-link" href="#" @click="goToPage(currentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" v-for="page in totalPages" :key="page"
                                :class="{ active: currentPage === page }">
                                <a class="page-link" href="#" @click="goToPage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                <a class="page-link" href="#" @click="goToPage(currentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>


<script setup>
import { useForm } from '@inertiajs/vue3';
import { ref, computed } from 'vue';

const itemsPerPage = 10; // Set the number of items per page
const currentPage = ref(1);

const form = useForm({
    u_name: '',
    u_id: '',
    c_hrs: '',
    m_code: '',
    m_name: '',
})

const form1 = useForm({
    id: '',
    u_name: '',
    u_id: '',
    c_hrs: '',
})


const search = ref('');

const props = defineProps({
    modules: Array,
    users: Array,
})

const confirmDelete = (module_code) => {

    form.delete(`/deleteModule/${module_code}`)
        .then(() => {
            // If the deletion is successful, reload the page or update the user list.
            usePage().reload();
        })
        .catch((error) => {
            // Handle any error that may occur during deletion
            console.error('Error deleting user', error);
        });
};

const filteredmodules = computed(() => {
    const query = search.value.toLowerCase();

    return props.modules.filter((mdl) => {
        const mdl_code = String(mdl.module_code).toLowerCase();
        const mdl_name = String(mdl.module_name).toLowerCase();
        const cod_name = String(mdl.coordinator_name).toLowerCase();
        const cls_hrs = String(mdl.WeeklyClassHours).toLowerCase();

        return mdl_code.includes(query) || mdl_name.includes(query) || cod_name.includes(query) || cls_hrs.includes(query);
    });
});

const paginatedModules = computed(() => {
    const start = (currentPage.value - 1) * itemsPerPage;
    const end = start + itemsPerPage;
    return filteredmodules.value.slice(start, end);
});

const totalPages = computed(() => Math.ceil(filteredmodules.value.length / itemsPerPage));

function goToPage(page) {
    if (page >= 1 && page <= totalPages.value) {
        currentPage.value = page;
    }
}
</script>