<template>
    <div class="container">
        <div class="row">
            <h3 class="text-start fw-bold" style="color: gray;">PRJ Groups</h3>
            <div class="col pt-5 pb-3 d-flex justify-content-center">
                <div class="">
                    <input class="form-control me-2" style="width: 54rem;" type="search" placeholder="Search" aria-label="Search" v-model="search">

                    </div>
                <form @submit="form.post('/addPrjGroups')" >
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Add New PRJ Group</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-outline mb-4 text-start">
                                            <input type="text" id="form2Example1" placeholder="Year"
                                                class="form-control my-4 dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false" v-model="form.year" readonly />
                                                <ul class="dropdown-menu">
                                                    <li v-for="year in yearOptions">
                                                        <button class="dropdown-item" type="button"  @click="form.year = year, form.guide_name = guide[0] ? guide[0].user_name : 'no value', form.guide_id = guide[0] ? guide[0].user_id : 'no value'">{{ year }}</button>
                                                    </li>
                                                                                
                                                </ul>
                                            
                                            <input type="text" id="form2Example1" placeholder="Semester"
                                                class="form-control my-4 dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false" v-model="form.semester" readonly />
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <button class="dropdown-item" type="button" @click="form.semester = 'Spring', form.guide_name = guide[0] ? guide[0].user_name : 'no value', form.guide_id = guide[0] ? guide[0].user_id : 'no value'">Spring</button>
                                                    </li>
                                                    <li>
                                                        <button class="dropdown-item" type="button" @click="form.semester = 'Autumn', form.guide_name = guide[0] ? guide[0].user_name : 'no value', form.guide_id = guide[0] ? guide[0].user_id : 'no value'">Autumn</button>
                                                    </li>

                                                </ul>
                                            <input type="text" id="form2Example1" placeholder="Class"
                                                class="form-control my-4 dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false" v-model="form.class_code" readonly/>
                                                <ul class="dropdown-menu">
                                                    <li v-for="c in classCodeOptions">
                                                        <button class="dropdown-item" type="button"  @click="form.class_id = c.id, form.class_code=c.code">{{ c.code }}</button>
                                                    </li>                              
                                                </ul>    
                                            <input type="text" id="form2Example1" placeholder="Guide"
                                                class="form-control my-4" disabled v-model="form.guide_name"/>
                                            <input type="hidden" id="form2Example1" placeholder="Guide"
                                                class="form-control my-4" disabled v-model="form.guide_id"/>
                                        </div>
                                    </div>
                                    <!-- button for confirming and cancelling -->
                                    <div class="d-flex justify-content-around py-4">
                                        <button class="btn btn-success col-4" data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal" data-bs-dismiss="modal" type="submit">Confirm</button>
                                        <button class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal" data-bs-dismiss="modal" type="reset" >Cancel</button>
                                    </div>
                                
                            </div>
                    </div>
                </div>
            </form>
            <a class="btn btn-success w-50" data-bs-toggle="modal" href="#exampleModalToggle" role="button">+ Add PRJ Group</a>
            </div>
            <div class="dropdowns d-flex justify-content-end">       
                <div class="btn-group mx-3">
                            <button type="button" class="btn btn-success dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ selectedYear }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li v-for="year in yearOptions"><button class="dropdown-item" type="button"  @click="selectedYear = year">{{ year }}</button>
                                    </li>
                                                                
                                </ul>
                        </div>

                        <div class="btn-group mx-3">
                            <button type="button" class="btn btn-success dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{ selectedSemester }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button" @click="selectedSemester = 'Spring'">Spring</button>
                                </li>
                                <li><button class="dropdown-item" type="button" @click="selectedSemester = 'Autumn'">Autumn</button>
                                </li>

                            </ul>
                        </div>
            </div>
            </div>
            
           <!-- table code here  -->
           <div class="py-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="background-color: orange;" class="text-white">PRJ Group</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Guide</th>
                            <th scope="col" style="background-color: orange;" class="text-white"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(prj, index) in paginatedPrj" :key="index">
                            <td scope="row">{{ prj.prj_code }}</td>
                            <!-- enter the email from the db -->
                            {{ prj.guide_name }}
                            <td>
                                <div class="d-flex justify-content-around">
                                    <!-- ------------------popup for edit icon-------------------------------------------- -->
                                    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true"
                                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <form @submit="form1.post('/editPrjGroups')" >
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalToggleLabel">Edit PRJ Group</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-outline mb-4 text-start">
                                                            <input type="text" id="form2Example1" :placeholder="`Who would you like to assign as guide to ${prj.prj_code}`"
                                                                class="form-control my-4 dropdown-toggle"
                                                                    data-bs-toggle="dropdown" aria-expanded="false" v-model="form1.guideedited" readonly/>
                                                                <ul class="dropdown-menu">
                                                                    <li v-for="c in weeklyhours">
                                                                        <button class="dropdown-item" type="button"  @click="form1.editedguideid = c.user_id, form1.guideedited=c.user_name ">{{ c.user_name }}</button>
                                                                    </li>                              
                                                                </ul>    
                                                        </div>
                                                    </div>
                                                    <!-- button for confirming and cancelling -->
                                                    <div class="d-flex justify-content-around py-4">
                                                        <button type="submit" class="btn btn-success col-4"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Confirm</button>
                                                        <button type="reset" class="btn btn-danger col-4"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="" data-bs-toggle="modal" href="#exampleModalToggle3" role="button" @click="form1.prj_id = prj.id, form1.p_guide_id = prj.guide_id, form1.year=prj.year, form1.semester=prj.semester"><img
                                            src="../../Components/edit-icon.png" alt="edit icon"></a>

                                    <!-- ------------------popup for delete icon-------------------------------------------- -->
                                    <div class="modal fade" :id="`delete_${prj.id}`" aria-hidden="true"
                                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalToggleLabel">Delete PRJ Group</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form @submit="confirmDelete(prj.id)">
                                                    <div class="modal-body">
                                                        <h4>Are you sure you want to delete the project group {{ prj.prj_code }}?</h4>
                                                    </div>
                                                    <!-- button for confirming and cancelling -->
                                                    <div class="d-flex justify-content-around py-4">
                                                        <button type="submit" class="btn btn-success col-4"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Confirm</button>
                                                        <button type="reset" class="btn btn-danger col-4"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="" data-bs-toggle="modal" :href="`#delete_${prj.id}`" role="button" ><img
                                            src="../../Components/delete.png" alt="delete icons"></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                        <li class="page-item" :class="{ disabled: currentPage === 1 }">
                            <a class="page-link" href="#" @click="goToPage(currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: currentPage === page }">
                            <a class="page-link" href="#" @click="goToPage(page)">{{ page }}</a>
                        </li>
                        <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                            <a class="page-link" href="#" @click="goToPage(currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                    </div>
            </div>
        </div>

</template>

<script setup>
import { useForm } from '@inertiajs/vue3';
import { ref, computed } from 'vue';

const search = ref('');

const itemsPerPage = 10; // Set the number of items per page
const currentPage = ref(1);

const selectedYear = ref(new Date().getFullYear());
const selectedSemester = ref('Spring');

const form = useForm({
    year: '',
    semester: '',
    class_id: '',
    class_code: '',
    guide_id: '',
    guide_name: '',
})

const form1 = useForm({
    prj_id: '',
    editedguideid: '',
    guideedited:'',
    year: '',
    semester:'',
    p_guide_id: '',
});

const form2 = useForm([]);

const confirmDelete = (prj_id) => {
    
    form2.delete(`/deletePrj/${prj_id}`)
        .then(() => {
            // If the deletion is successful, reload the page or update the user list.
            usePage().reload();
        })
        .catch((error) => {                
            // Handle any error that may occur during deletion
            console.error('Error deleting user', error);
        });
};

const props = defineProps({
    prj: Array,
    classes: Array,
    weeklyhours: Array,
})

const filteredprj = computed(() => {
  const query = search.value.toLowerCase();

  return props.prj.filter((p) => {
    const prj_code = String(p.prj_code).toLowerCase();
    const class_code = String(p.class_code).toLowerCase();
    const guide_name = String(p.guide_name).toLowerCase();
    const semester = String(p.semester);
    const year = String(p.year);

    return (prj_code.includes(query) || class_code.includes(query) || guide_name.includes(query)) && year==selectedYear.value && semester == selectedSemester.value;
  });
});

const classCodeOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const cls = props.classes; 
    const class_codes = [];

    for (const c of cls) {
        let year = String(parseInt(currentYear) - parseInt(c.start_year) + 1);
        let course = c.course_name;
        let section = c.section;

        let code = "Year " + year + " " + course + " " + section;
        class_codes.push({ id: c.id, code: code });
    }

    return class_codes;
});

function sortBySumOfAttributes(a, b) {
  const sumA = a.class_hours + a.prj_groups;
  const sumB = b.class_hours + b.prj_groups;

  if (sumA < sumB) {
    return -1;
  } else if (sumA > sumB) {
    return 1;
  } else {
    return 0;
  }
}

// const guide = props.weeklyhours.slice().sort(sortBySumOfAttributes)

const guide1 = computed(() => {
  const filteredGuide = props.weeklyhours.filter((p) => {
    const semester = String(p.semester);
    const year = String(p.year);

    return year == form.year && semester == form.semester;
  });

  return filteredGuide;
});

const guide = computed(() => {
  // Sort the filtered data using your custom sorting function
  let gid = guide1.value.slice().sort(sortBySumOfAttributes);
  return gid
});



const yearOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const startYear = 2017;
    const years = [];

    for (let year = currentYear; year >= startYear; year--) {
        years.push(year);
    }

    return years;
});

const paginatedPrj = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  const end = start + itemsPerPage;
  return filteredprj.value.slice(start, end);
});

const totalPages = computed(() => Math.ceil(filteredprj.value.length / itemsPerPage));

function goToPage(page) {
  if (page >= 1 && page <= totalPages.value) {
    currentPage.value = page;
  }
}
</script>