<!-- PasswordChangeForm.vue -->
<template>
    <div class="container">
        <h3 class="text-start py-4 fw-bold flex-start" style='color: gray;'>Setting</h3>
        <div class="container rounded d-flex align-item-center justify-content-center" style="height: 90vh;">
        <form @submit.prevent="form.post('/changePassword')" class="password-change-form my-5">
          <div v-if="form.wasSuccessful">
            <div class="errorMessaage text-success d-flex justify-content-center py-2 fw-bold">
              Password Successfully Updated
            </div>
          </div>
          <div v-if=" Object.keys(form.errors).length!=0">
            <div class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold"> 
              Password Update Failed: Please Check Your Inputs   
            </div>
          </div>
          <div v-if="form.wasSuccessful">
            <div class="errorMessaage text-success d-flex justify-content-center py-2 fw-bold">
              Password Successfully Updated
            </div>
          </div>
          
          <div class="input-group my-3 text-center">
            <input type="password" class="custom-input mx-auto rounded" style="width: 50vh; height: 5vh;" placeholder="Old Password" v-model="form.oldPassword" >
          </div>
          <div v-if="form.errors.oldPassword ">
            <div class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
              {{ form.errors.oldPassword }}
            </div>
          </div>
          
          
          <div class="input-group my-3">
            <input type="password" class="custom-input mx-auto rounded" style="width: 50vh; height: 5vh;" placeholder="New Password" v-model="form.newPassword" >
          </div>
          <div v-if="form.errors.newPassword">
            <div class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
              {{ form.errors.newPassword }}
            </div>
          </div>
          <div class="input-group my-3">
            <input type="password" class="custom-input mx-auto rounded" style="width: 50vh; height: 5vh;" placeholder="Confirm Password" v-model="form.confirmPassword" >
          </div>
          <div v-if="form.errors.confirmPassword">
            <div class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
              {{ form.errors.confirmPassword }}
            </div>
          </div>
          
          <button type="submit" class="btn-success btn mt-5 ms-4" style="width: 40vh;">Change Password</button>
        </form>
        <!-- Confirmation dialog -->
      </div>
    </div>
  </template>
 
<script setup>
  import { ref, computed, onMounted, watch } from 'vue';
  import { useForm } from '@inertiajs/vue3';
  import Chart from 'chart.js/auto';
  const props = defineProps({
    user:Object,
  })

  const form = useForm({
    newPassword:'',
    confirmPassword: '',
    oldPassword: '',

})


</script>
  
  <style scoped>
  .confirmation-dialog {
    position: fixed;
    top: 45%;
    left: 62.5%;
    
    width: 75vh !important;
    height: 35vh !important;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(28, 27, 27, 0.1);
    text-align: center;
    z-index: 1000; /* Set a high z-index to ensure it overlays other elements */
  }
  </style>
  