<template>
    <div class="container">
        <div class="row">

            <h3 class="text-start fw-bold" style="color: gray;">Users</h3>
            <div class="col py-5">
                <div class="d-flex justify-content-center">
                    <form role="search">
                        <input class="form-control me-2" style="width: 54rem;" type="search" placeholder="Search"
                            aria-label="Search" v-model="search">
                    </form>
                    <!-- -----------------the pop up starts -------------------------  -->
                    <form @submit="form.post('/user')">
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Add New User</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-outline mb-4 text-start">
                                            <input type="text" id="form2Example1" placeholder="Name"
                                                class="form-control my-4" v-model="form.name" />
                                            <input type="email" id="form2Example1" placeholder="Email"
                                                class="form-control my-4" v-model="form.email" />
                                                <!-- ------------error message ------------  -->
                                            <div v-if="form.errors.email">
                                                <div class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                    {{ form.errors.email }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- button for confirming and cancelling -->
                                    <div class="d-flex justify-content-around py-4">
                                        <button type="submit" class="btn btn-success col-4">Confirm</button>
                                        <button type="reset" class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <a class="btn btn-success w-50" data-bs-toggle="modal" href="#exampleModalToggle"
                        role="button">+ Add Users</a>

                </div>

            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="background-color: orange;" class="text-white">Name</th>
                            <th scope="col" style="background-color: orange;" class="text-white">Email</th>
                            <th scope="col" style="background-color: orange;" class="text-white">More</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, index) in paginatedUsers" :key="index">
                            <td scope="row">
                                <div class="modal fade" :id="`prefrence_${user.id}`" aria-hidden="true"
                                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title fw-bold" id="exampleModalToggleLabel">{{ user.name
                                                }}'s Preferences</h5>
                                                <div class="col py-5">
                                                    <form>
                                                        <div class="btn-group mx-3">
                                                            <button type="button" class="btn btn-success dropdown-toggle"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                {{ selectedYear }}
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li v-for="year in yearOptions"><button
                                                                        class="dropdown-item" type="button"
                                                                        @click="selectedYear = year">{{ year }}</button>
                                                                </li>

                                                            </ul>
                                                        </div>

                                                        <div class="btn-group mx-3">
                                                            <button type="button" class="btn btn-success dropdown-toggle"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                {{ selectedSemester }}
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li><button class="dropdown-item" type="button"
                                                                        @click="selectedSemester = 'Spring'">Spring</button>
                                                                </li>
                                                                <li><button class="dropdown-item" type="button"
                                                                        @click="selectedSemester = 'Autumn'">Autumn</button>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row modal-lg" v-for="prefrence in filteredPrefrences">

                                                        <div class="my-4" style="border: 1px solid black;" height="5rem">
                                                            <h3 class="text-start">Prefrence no.{{ prefrence.rank }}</h3>
                                                            <div class="rounded-1" style="background-color: orange;">
                                                                <h5>{{ prefrence.module_code }}</h5>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="text-black text-decoration-none" data-bs-toggle="modal"
                                    :href="`#prefrence_${user.id}`" role="button" @click="userID = user.id">
                                    <p>{{ user.name }}</p>
                                </a>
                            </td>
                            <!-- enter the email from the db -->
                            <td>{{ user.email }}</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <!-- ------------------popup for edit icon-------------------------------------------- -->
                                    <div class="modal fade" :id="`edit_${user.id}`" aria-hidden="true"
                                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalToggleLabel">Edit User</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-outline mb-4 text-start">
                                                        <input type="text" id="form2Example1" v-model="form1.name"
                                                            :placeholder="`${user.name}`" class="form-control my-4" />
                                                    </div>
                                                </div>
                                                <!-- button for confirming and cancelling -->
                                                <div class="d-flex justify-content-around py-4">
                                                    <button class="btn btn-success col-4"
                                                        data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                        data-bs-dismiss="modal"
                                                        @click="saveEditedUser(user)">Confirm</button>
                                                    <button class="btn btn-danger col-4" type="reset"
                                                        data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                        data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="" data-bs-toggle="modal" :href="`#edit_${user.id}`" role="button"><img
                                            src="../../Components/edit-icon.png" alt="edit icon"></a>

                                    <!-- ------------------popup for delete icon-------------------------------------------- -->
                                    <div class="modal fade" :id="`delete_${user.id}`" aria-hidden="true"
                                        aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalToggleLabel">Delete User</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form @submit.prevent="confirmDelete(user.id)">
                                                    <div class="modal-body">
                                                        <h4>Are you sure you want to delete the user: {{ user.name }} ?</h4>
                                                    </div>
                                                    <!-- button for confirming and cancelling -->
                                                    <div class="d-flex justify-content-around py-4">
                                                        <button class="btn btn-success col-4"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Confirm</button>

                                                        <button class="btn btn-danger col-4" type="reset"
                                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="" data-bs-toggle="modal" :href="`#delete_${user.id}`" role="button"><img
                                            src="../../Components/delete.png" alt="delete icons"></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                <a class="page-link" href="#" @click="goToPage(currentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" v-for="page in totalPages" :key="page"
                                :class="{ active: currentPage === page }">
                                <a class="page-link" href="#" @click="goToPage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                <a class="page-link" href="#" @click="goToPage(currentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3';
import { ref, computed } from 'vue';

const search = ref('');

const userID = ref('');
const selectedYear = ref(new Date().getFullYear());
const selectedSemester = ref('Spring');

const itemsPerPage = 10; // Set the number of items per page
const currentPage = ref(1);

const form = useForm({
    name: '',
    email: '',
})

const form1 = useForm({
    name: '',
})

const saveEditedUser = (user) => {
    form1.put(`/editUser/${user.id}`, {
        name: form1.name,
    })
        .then(() => {
            // If the update is successful, reload the page or update the user list.
            usePage().reload();
        })
        .catch((error) => {
            // Handle any error that may occur during the update
            console.error('Error updating user', error);
        });
}


const confirmDelete = (userId) => {

    form.delete(`/deleteUser/${userId}`)
        .then(() => {
            // If the deletion is successful, reload the page or update the user list.
            usePage().reload();
        })
        .catch((error) => {
            // Handle any error that may occur during deletion
            console.error('Error deleting user', error);
        });
};

const props = defineProps({
    users: Array,
    prefrences: Array,
})

const filteredUsers = computed(() => {
    if (!search.value) {
        return props.users;
    }

    const query = search.value.toLowerCase();
    return props.users.filter((user) => user.name.toLowerCase().includes(query) || user.email.toLowerCase().includes(query));
});

const filteredPrefrences = computed(() => {
    if (!userID.value) {
        return props.prefrences;
    }
    console.log(userID.value, selectedYear.value, selectedSemester.value)
    return props.prefrences.filter((prefrence) => String(prefrence.user_id).toLowerCase() === String(userID.value).toLowerCase() && String(prefrence.year).toLowerCase() === String(selectedYear.value).toLowerCase() && String(prefrence.semester).toLowerCase() === String(selectedSemester.value).toLowerCase());
});

const yearOptions = computed(() => {
    const currentYear = new Date().getFullYear();
    const startYear = 2017;
    const years = [];

    for (let year = currentYear; year >= startYear; year--) {
        years.push(year);
    }

    return years;
});
const paginatedUsers = computed(() => {
    const start = (currentPage.value - 1) * itemsPerPage;
    const end = start + itemsPerPage;
    return filteredUsers.value.slice(start, end);
});

const totalPages = computed(() => Math.ceil(filteredUsers.value.length / itemsPerPage));

function goToPage(page) {
    if (page >= 1 && page <= totalPages.value) {
        currentPage.value = page;
    }
}
</script>
