<template>
  <div class="container py-5 h-150 ">
      <div class="row d-flex justify-content-center align-items-left h-150">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="shadow" style="border-radius: 1rem;">
            <div class="card-body p-5">
              <img src="../../Components/logo.png" alt="">
              <h3 class="mb-5 fw-bold">Reset Password</h3>
              <form  @submit.prevent="form.post('/reset-password')">
                <!-- Email input -->
                <div class="form-outline mb-4 text-start">
                  <label class="form-label" for="form2Example1">Email</label>
                  <input v-model="form.email" type="email" id="form2Example1" class="form-control" />
                </div>
                <div v-if="form.errors.email" class="text-red-600">
                  {{ form.errors.email }}
                </div>

                <div class="form-outline mb-4 text-start">
                  <label class="form-label" for="form2Example1">New Password</label>
                  <input v-model="form.password" type="password" id="form2Example1" class="form-control" />
                </div>
                <div v-if="form.errors.password" class="text-red-600">
                  {{ form.errors.password }}
                </div>

                <div class="form-outline mb-4 text-start">
                  <label class="form-label" for="form2Example1">Confirm Password</label>
                  <input v-model="form.password_confirmation" type="password" id="form2Example1" class="form-control" />
                </div>
                <div v-if="form.errors.password_confirmation" class="text-red-600">
                  {{ form.errors.password_confirmation }}
                </div>
                
                <!-- Submit button -->
                  <button type="submit" class="btn btn-success btn-block w-100 py-2 mt-2 fw-bold">Reset</button>
                  <Link href="/login" role="cancel" class="btn btn-success btn-block w-100 py-2 mt-2 fw-bold" as="button">Cancel</Link>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script setup>
  import { useForm, Link } from '@inertiajs/vue3';
  
  const props = defineProps({
    token: String
  })
  
  const form = useForm({
    token: props.token ?? null,
    email: '',
    password: '',
    password_confirmation: ''
  });
  </script>
  